@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<!-- Main jumbotron for a primary marketing message or call to action -->
<!--
<div class="jumbotron">
    <div class="container">
        <h1>About Us</h1>
        <p>The Team</p>
    </div>
</div>
-->
<!-- Page Content -->
<div class="container">
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/images/profile.jpg" alt="">
            <h3>
                Carsten Keutmann<br />
                <small>Architect, Developer</small>
            </h3>
            <a href="mailto:carsten@keutmann.dk">carsten@keutmann.dk</a>
        </div>
    </div>
</div>
