@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<!-- Page Content -->
<div class="container">
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-center" src="/images/CK200.jpg" alt="">
            <h3>
                Carsten Keutmann<br />
                <small>Architect, Developer</small>
            </h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-center" src="/images/TP200.jpg" alt="">
            <h3>
                Tim Pastoor<br />
                <small>White paper and advisor</small>
            </h3>
        </div>
    </div>
</div>
