@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Trustchain</h1>
        <p>Decentrialized Trustchain Service System</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>With the introduction of the World Wide Web, the possibility for everybody to produce content that could potentially reach anyone else became possible. However, one crucial element was digitally left behind - Trust. The reputation of a few persons is easily managed, however for an individual to maintain the status of a huge number of only loosely known people, becomes an exhausting task. Relying on friends and family’s trust network is a way to solve this, but usually, they are not available at the time or do not even have the same interest sphere. Further, the possibility to be anonymous and still provide content make it hard for the reader to verify if the message is authentic.</p>
            <p>The Trustchain services will put back the trust system into the digital world. It will make it possible for everybody to leverage the trust network of anybody else. The goal of the Trustchain system is it will be able to be used for literally anything that covers the subject of trust, security, and identity.</p>
        </div>
    </div>
</div>

