@page
@model Trustchain.Pages.LoginModel

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if(Model.IsAdmin)
{
    <h3>Login succesfull :)</h3>

}
else
{
    <h3>Login unsuccesfull :(</h3>
}
