@page
@model Trustchain.Pages.Timestamps.StampModel
@{
    ViewData["Title"] = "Timestamp";
}

<h2>Stamp</h2>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@



}



